.app {
  background: #000;
}

ul,
.hook:first-of-type {
  display: none;
}

.td-hook:last-of-type {
  span {
    margin: 0 !important;
  }
}

table {
  td {
    &:last-child {
      pre {
        margin: 0;
        white-space: pre-wrap;
      }
    }
  }
}

.span {
  p {
    margin-bottom: 0 !important;
  }
}

code {
  color: orange !important;
  margin: 0;
  padding: 0;
  line-height: 1;
  word-wrap: unset;
}

.notification {
  position: absolute;
  &__toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .close {
      display: none;
    }
  }
}
